
.item {
    display: grid;
    column-gap: 65px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.item__licence {
    font-size: var(--font-small);
    font-weight: 500;
}

.item__name {
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__description {
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__cart {
    display: flex;
    gap: 42px;
}

.item__imput {
    display: flex;
}

.item__text {
    border: 1px solid #C9C9C9;
    width: 105.467px;
    height: 35.241px;
    text-align: center;
    font-size: var(--font-large);
    color: #747474;
}

.item__button {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item__button-group {
    position: relative;
    left: -4px;
    width: 18px;
    height: 16px;
    border: none;
    background-color: #4F4F4F;
    color: var(--light-font-solid);
    transition: background 0.7;
}

.item__button-group:hover{
    background-color: #90031b;
}

.item__submit {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-weight: 400;
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-12);
    border: none;
    transition: background 0.3s ease-in-out 0s;
}

.item__submit:hover {
    background-color: var(--dark-bg-solid);
}

.item__promo {
    display: inline-block;
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.item__promo--link {
    text-decoration-line: none;
    transition: 0.5s;
}

.item__promo--link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}