
    <%-include("./partials/head")%>
<body>
    <%-include("./partials/header")%>
    <article class="contacto container error">
    <h1>PAGINA DE CONTACTO </h1>
    </article>
    <%-include("./partials/footer")%>
</body>
</html>