<%-include("./partials/head")%>
<body>
    <%-include("./partials/aheader")%>
    
    <main class="login__box container">
        <section class="login__content">
        <h2 class="login__title">INGRESAR A MI CUENTA</h2>
        <form class="login__form" action=""
            method="post">
            <div class="form__item">
                <label for="email" class="form__label">Email:</label>
                <input class="form__input" type="email" name="email" id="email" placeholder="johndoe@correo.com">
            </div>
            <div class="form__item">
                <label for="password" class="form__label">Contraseña:</label>
                <input class="form__input" type="password" name="password" id="password" placeholder="●●●●●●●●●">
            </div>
            <div class="form__submit">
                <input class="form__btn" type="submit" value="Ingresar">
                <div class="form__remember">
                    <input class="form-check-login" type="checkbox" name="remember" id="remember">
                    <label class="checkbox__label--login" for="remember">Recordarme</label>
                </div>
            </div>
            <a href="" class="form__lost">Olvidé mi
                contraseña</a>
        </form>
    </section>
    </main>
    <%-include("./partials/afooter")%>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    </body>
    </html>