
<!--author: joest3r a.k.a. Franco Lui-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Funko Shop</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>