/* SLIDER CARROUSEL INDEX.EJS y ITEM.EJS */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;

}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

iconify-icon {
    font-size: var(--font-smail);
    font-weight: 700;
}

.glide__arrow {
    color: var(--dark-bg-solid);
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right {
    right: 0;
}